<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://drive.xcar.com.cn/201704/news_1970937_1.html</string>
	<string>http://www.xcar.com.cn/bbs/viewthread.php?tid=29532131</string>
	<string>http://drive.xcar.com.cn/201704/news_1970992_1.html</string>
	<string>http://drive.xcar.com.cn/201704/news_1971019_1.html</string>
	<string>http://www.xcar.com.cn/bbs/viewthread.php?tid=29275912</string>
	<string>http://info.xcar.com.cn/201708/news_1983164_1.html</string>
	<string>http://info.xcar.com.cn/201708/news_1983169_1.html</string>
	<string>http://info.xcar.com.cn/201708/news_1982967_1.html</string>
	<string>http://info.xcar.com.cn/201708/news_1983041_1.html</string>
	<string>http://info.xcar.com.cn/201708/news_1982923_1.html</string>
	<string>http://info.xcar.com.cn/201708/news_1983193_1.html</string>
	<string>http://newcar.xcar.com.cn/201708/news_1983722_1.html</string>
	<string>http://newcar.xcar.com.cn/201708/news_1983278_1.html</string>
	<string>http://drive.xcar.com.cn/201708/news_1983715_1.html</string>
	<string>http://newcar.xcar.com.cn/201706/news_1977215_1.html</string>
</array>
</plist>
